**Task 1: Basic Arithmetic Operations**

In [8]:
# Function to perform and display arithmetic operations
def basic_operations(a, b):
    
    # Addition
    print(f"Addition: {a + b}")  
    
    # Subtraction
    print(f"Subtraction: {a - b}")  
    
    # Multiplication
    print(f"Multiplication: {a * b}")  
    
    # Division (check to avoid division by zero)
    print(f"Division: {a / b}" if b != 0 else "Division: Undefined")  
    
    # Modulus (remainder) with zero check
    print(f"Modulus: {a % b}" if b != 0 else "Modulus: Undefined")  
    
    # Exponentiation (a raised to the power b)
    print(f"Exponentiation: {a ** b}")  

# Taking user input
a = int(input("Enter the first integer: "))   
b = int(input("Enter the second integer: ")) 

# Calling the function to display results
basic_operations(a, b)

Enter the first integer:  11
Enter the second integer:  12

Addition: 23
Subtraction: -1
Multiplication: 132
Division: 0.9166666666666666
Modulus: 11
Exponentiation: 3138428376721

**Task 2: : Working with Lists and Arrays**

In [10]:
import numpy as np

# Creating a list of at least 10 numbers
numbers = [10, 4, 23, 7, 56, 12, 89, 3, 15, 42]

print("Original List:", numbers)

# (a) Print length
print("Length of List:", len(numbers))

# (b) Max & Min
print("Maximum Value:", max(numbers))
print("Minimum Value:", min(numbers))

# (c) Add and Remove an element
numbers.append(100)       # adding
numbers.remove(7)         # removing specific value

print("List after adding 100 and removing 7:", numbers)

# (d) Sorting
asc = sorted(numbers)
desc = sorted(numbers, reverse=True)

print("Ascending Order:", asc)
print("Descending Order:", desc)

# Convert to NumPy array
arr = np.array(numbers)

# Mean, Median, SD
print("- NumPy Calculations -")
print("Mean:", np.mean(arr))
print("Median:", np.median(arr))
print("Standard Deviation:", np.std(arr))

Original List: [10, 4, 23, 7, 56, 12, 89, 3, 15, 42]
Length of List: 10
Maximum Value: 89
Minimum Value: 3
List after adding 100 and removing 7: [10, 4, 23, 56, 12, 89, 3, 15, 42, 100]
Ascending Order: [3, 4, 10, 12, 15, 23, 42, 56, 89, 100]
Descending Order: [100, 89, 56, 42, 23, 15, 12, 10, 4, 3]
- NumPy Calculations -
Mean: 35.4
Median: 19.0
Standard Deviation: 33.6339114585265

**Task 3: Dictionaries and Sets**

In [7]:
# 1. Create a dictionary
student = {
    "name": "Tarun",
    "age": 22,
    "course": "Data Analytics",
    "marks": 88
}

# 2. Print each key-value pair
print("- Student Details -")
for key, value in student.items():
    print(f"{key}: {value}")

# 3. Add a new key
student["grade"] = "A"
print("After adding grade:", student)

# 4. Unique courses set
courses = {"Python", "Data Science", "AI", "Python"}
print("Unique Courses Set:", courses)

# 5. Set operations
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7}

print("- Set Operations -")
print("Union:", set_a.union(set_b))
print("Intersection:", set_a.intersection(set_b))
print("Difference:", set_a.difference(set_b))

- Student Details -
name: Tarun
age: 22
course: Data Analytics
marks: 88
After adding grade: {'name': 'Tarun', 'age': 22, 'course': 'Data Analytics', 'marks': 88, 'grade': 'A'}
Unique Courses Set: {'Python', 'AI', 'Data Science'}
- Set Operations -
Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {4, 5}
Difference: {1, 2, 3}

**Task 4: File Handling**

In [1]:
# 1. Student data (name, course, marks)
students = [
    ("Tarun", "Data Analytics", 88),
    ("Riya", "Python", 72),
    ("Aman", "AI", 95),
    ("Neha", "Data Science", 67),
    ("Kiran", "Machine Learning", 81)
]

# 2. Write data to student_data.txt
with open("student_data.txt", "w") as file:
    for name, course, marks in students:
        file.write(f"{name},{course},{marks}\n")

# 3. Read and display students with marks > 75
with open("student_data.txt", "r") as file:
    print("Students with Marks Above 75:")
    for line in file:
        name, course, marks = line.strip().split(",")
        marks = int(marks)

        if marks > 75:
            print(name, course, marks)

Students with Marks Above 75:
Tarun Data Analytics 88
Aman AI 95
Kiran Machine Learning 81